{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "alias": {
        "@api": "./src/api",
        "@assets": "./src/assets",
        "@components": "./src/components",
        "@pages": "./src/pages"
      }
    }]
  ]
}
